<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <header>
        <a style="text-decoration: none; border: 2px solid black; border-radius: 2px; background-color: blueviolet; color: white;" href="/products">Products</a>
        <a style="text-decoration: none; border: 2px solid black; border-radius: 2px; background-color: blueviolet; color: white;" href="/add-product">Add Product</a>
      </header>
    <h2>Name | Price</h2>
    <h3><%= product.name %> <%= product.price %> <%= product.category %></h3>
  </body>
</html>
